body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.GlobalSearch{
  width:40%;
  margin-left: auto;
  padding:1vmax;
  background-color: skyblue;
  font-size: 1vmax;
  font-weight: 450;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.paginationRow{
  display: flex;

}

.paginationCol{
  display: flex;
justify-content: space-between;
  align-items: center;
}

.paginationButton{
  background-color: inherit!important;
  border-radius: 100px;
  border-color: #2eb3a6!important;
  color: #fff!important;
  outline: none;
  border: 1px solid transparent;
  padding: 0.65rem 1rem;
}



.pageOptionText{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}


.tableBodyHeight{

  height: 30vmax;
overflow-y:auto;
overflow-x: hidden;
  

}

